profiles {
  docker {
    process.executor  = 'local'
    docker.enabled    = true
    process.container = 'ubuntu:22.04'
    process.shell     = ['/usr/bin/env','bash','-ueo','pipefail']
  }
}

/* Work and outputs go into the named volume mounted at /shared */
workDir       = '/shared/work'
params.outdir = '/shared/data'

/* Ensure task containers also mount the SAME named volume at the SAME path */
docker.runOptions = '-v nf_shared:/shared'
